<div class="container">

  <div class="input-group mt-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Half Life</div>
    </div>
    <input class="form-control" type="number" placeholder="{{caffeineService.caffeineHalfLife}} hours">
  </div>
  <div class="input-group mt-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Caffeine Per Day</div>
    </div>
    <input class="form-control" type="number" placeholder="400mg">
  </div>
  Note: Nothing here is implemented yet
</div>
