<div class="container">
  <div class="row text-center justify-content-center" *ngIf="caffeineByDay.length > 0">
    <div
      class="caffeine-fillup d-flex align-items-center justify-content-center border mt-4"
      style="
        max-width: 700px;
        height: 50px;
        border-radius: 15px;
      "
      [ngStyle]="{
        background:
          'linear-gradient(to right, #bc8a5f ' +
          ((caffeineService.caffeineInSystem || caffeineInSystem) / 400) * 100 +
          '%, white 0%)'
      }"
    >
  <b>{{caffeineService.caffeineInSystem || caffeineInSystem | number: "1.0-1"}}mg / 400mg</b></div>
  </div>

  <div class="row justify-content-center" *ngFor="let day of caffeineByDay">
    <p class="text-center">Date: {{ day.date }}</p>
    <div class="row m-2" *ngFor="let caffeine of day.caffeine">
      <div class="col d-flex justify-content-between">
        {{ caffeine.name }} <span>{{ caffeine.date | date: "shortTime" }}</span>
        {{ caffeine.caffeine }}mg

        <button
          class="btn btn-sm btn-outline-danger"
          (click)="removeCaffeine(caffeine)"
        >
          X
        </button>
      </div>
    </div>
  </div>

  <div class="row m-1 pb-4">
    <button type="button" class="btn btn-success" (click)="openModal()">
      Add Caffeinated Beverage
    </button>
  </div>

</div>
