<app-add-caffeine></app-add-caffeine>

<p *ngIf="caffeineByDay.length > 0">{{ caffeineService.caffeineInSystem | number: "1.0-1" }}</p>
<div class="row justify-content-center" *ngFor="let day of caffeineByDay">
  <p class="text-center">Date: {{ day.date }}</p>
  <div class="row m-2" *ngFor="let caffeine of day.caffeine">
    <div class="col d-flex justify-content-between">
      {{ caffeine.name }} <span>{{caffeine.date | date: 'shortTime'}}</span> {{ caffeine.caffeine }}mg
    </div>
    <div class="col d-flex justify-content-center">
      <button
      class="btn btn-sm btn-outline-danger"
      (click)="removeCaffeine(caffeine)"
    >
      X
    </button>
    </div>

  </div>
</div>
